.diplom-slider-content
	.diplom-slider-inner
		.diplom-slider-inner-img.js-popup-button.ajax-trigger(data-modal='diplom',data-href='diplom.html')
			img(data-lazy="img/document.jpg", alt="fsdfsd")
			.text-sm Лицензия на предоставление медицинских услуг
		.diplom-slider-inner-img.js-popup-button.ajax-trigger(data-modal='diplom',data-href='diplom.html')
			img(data-lazy="img/document.jpg", alt="fsdfsd")
			.text-sm Лицензия на предоставление медицинских услуг
		.diplom-slider-inner-img.js-popup-button.ajax-trigger(data-modal='diplom',data-href='diplom.html')
			img(data-lazy="img/document.jpg", alt="fsdfsd")
			.text-sm Лицензия на предоставление медицинских услуг
	.arr-wrap
		.arr-wrap-inner
			.slider-counter
				.slider-curr
				.slider-divider /
				.slider-total