.search-wrapper
	form.search-inner
		input(type="text" placeholder="Поиск по сайту" required="required").search-input
		button(type='submit').search-submit
			svg(class="icon icon-search")
				use(xlink:href="#search" xmlns:xlink="http://www.w3.org/1999/xlink")