.modal-layout(data-modal='callback').js-popup-container
	.modal-container
		.modal-container-inner
			.modal-container-header

			.modal-container-content
	//контейнер ответа модалки 
	.modal-container.response(style='display: none')
		.modal-container-inner
			.modal-container-header

			.modal-container-content
