.wrapper.gray
	.box
		.promoslider-wrap
			.index-slider
				.index-slider-inner.js-indexSlider
					.index-slider-item
						.index-slider-item-inner
							img(data-lazy="img/slideradd/1.jpg", alt="Новое отделение стоматологии")
							.index-slider-content
								.title.h2 Программа ведения беременности
								.text.primary Полноценная стомат 42342 4234 234ологическая клиника европейского уровня
								.index-slider-btns-wrap
									a(href="#").btn
										span Узнать больше
									a(href="#").btn.secondary
										span Все программы
					.index-slider-item
						.index-slider-item-inner
							img(data-lazy="img/index/1.jpg", alt="Новое отделение стоматологии")
							.index-slider-content
								.title.h2 Программа ведения беременности2
								.text.primary Полноценная стоматологическая клиника европейского уровня
								.index-slider-btns-wrap
									a(href="#").btn
										span Узнать больше
									a(href="#").btn.secondary
										span Все программы

					.index-slider-item
						.index-slider-item-inner
							img(data-lazy="img/index/clinic.jpg", alt="Новое отделение стоматологии")
							.index-slider-content
								.title.h2 Новое отделение2
								.text.primary Полноценная стоматологич34234324 еская клиника европейского уровня
								.index-slider-btns-wrap
									a(href="#").btn
										span Узнать больше
									a(href="#").btn.secondary
										span Все программы
				.arr-wrap
					.arr-wrap-inner
						.slider-counter
							.slider-curr
							.slider-divider /
							.slider-total