
<div class="wrap">
  <div class="modal-container"><i class="small-link pop-close closePopup"></i>
    <div class="big-image-slider">
      <div class="big-image-slider-inner">
        <div class="big-image-item">
          <div class="big-image-item-inner"><img src="/img/roadmap/info1.jpg" alt=""></div>
        </div>
        <div class="big-image-item">
          <div class="big-image-item-inner"><img src="/img/roadmap/info2.jpg" alt=""></div>
        </div>
      </div>
    </div>
    <div class="modal-container-content">
      <div class="modal-container-slider">
        <div class="modal-container-arrows">
          <div class="arr-wrap">
            <div class="arr-wrap-inner">
              <div class="slider-counter">
                <div class="slider-curr"></div>
                <div class="slider-divider">/</div>
                <div class="slider-total"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-container-slider-inner">
          <div class="modal-container-slider-item">
            <div class="title h3">Маршрут от ст. м. «Смоленская»</div>
            <div class="text">У нас удобное расположение, в шаговой доступности от двух станций метро, рядом две платные стоянки.</div>
          </div>
          <div class="modal-container-slider-item">
            <div class="title h3">Маршрут от ст. м. «Смоленская»</div>
            <div class="text">У нас удобное расположение, в шаговой доступности от двух станций метро, рядом две платные стоянки.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>