extends _layout

block title
	title Отделения
block config
	- var main = false
block content
	.wrapper.gray.page-head
		.box
			.page-head-content
				.page-head-bg
					.page-head-bg-inner
						img(data-src="img/head/1.jpg", alt="").js-image
				.page-head-inner
					h1.title.h1 Отделения
					.bread-cont
						a(href="#").bread-item Главная
						a(href="#").bread-item Отделения
	.wrapper
		.box
			.content-element
				.aside-wrapp
					aside.aside-menu(data-sticky_parent)
						.aside-menu-inner
							// есди элемент стикается - кладем его в этот контейнер,
							.aside-menu-stick.js-stick
								// модификатор .nav для ссылок на страницы и .scroll для ссылок скролящих
								ul.aside-nav.nav
									li.aside-nav-item
										a.aside-nav-link(href="#") Клинико-диагностическая лаборатория
									li.aside-nav-item
										a.aside-nav-link(href="#") УЗ-диагностика
									li.aside-nav-item
										a.aside-nav-link(href="#") Рентгенодиагностика
									li.aside-nav-item
										a.aside-nav-link(href="#") Хирургия
									li.aside-nav-item
										a.aside-nav-link(href="#") Стоматология
									li.aside-nav-item
										a.aside-nav-link(href="#") Дермотокосметология
									li.aside-nav-item
										a.aside-nav-link(href="#") Гинекология
									li.aside-nav-item
										a.aside-nav-link(href="#") Урология
									li.aside-nav-item
										a.aside-nav-link(href="#") Терапия
									li.aside-nav-item
										a.aside-nav-link(href="#") Офтальмология
									li.aside-nav-item
										a.aside-nav-link(href="#") Неврология
									li.aside-nav-item
										a.aside-nav-link(href="#") Оториноларингология
									li.aside-nav-item
										a.aside-nav-link(href="#") ФизИотерапия
					.aside-content
						.text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores numquam adipisci officia temporibus sint, quae eligendi sequi sapiente, rem cumque at autem, ullam dicta magnam! Corrupti expedita, molestiae cum numquam!
						.text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores numquam adipisci officia temporibus sint, quae eligendi sequi sapiente, rem cumque at autem, ullam dicta magnam! Corrupti expedita, molestiae cum numquam!
						.text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores numquam adipisci officia temporibus sint, quae eligendi sequi sapiente, rem cumque at autem, ullam dicta magnam! Corrupti expedita, molestiae cum numquam!
						.text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores numquam adipisci officia temporibus sint, quae eligendi sequi sapiente, rem cumque at autem, ullam dicta magnam! Corrupti expedita, molestiae cum numquam!
						.text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores numquam adipisci officia temporibus sint, quae eligendi sequi sapiente, rem cumque at autem, ullam dicta magnam! Corrupti expedita, molestiae cum numquam!
						.text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores numquam adipisci officia temporibus sint, quae eligendi sequi sapiente, rem cumque at autem, ullam dicta magnam! Corrupti expedita, molestiae cum numquam!
						.text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores numquam adipisci officia temporibus sint, quae eligendi sequi sapiente, rem cumque at autem, ullam dicta magnam! Corrupti expedita, molestiae cum numquam!
						.text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores numquam adipisci officia temporibus sint, quae eligendi sequi sapiente, rem cumque at autem, ullam dicta magnam! Corrupti expedita, molestiae cum numquam!
						.text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores numquam adipisci officia temporibus sint, quae eligendi sequi sapiente, rem cumque at autem, ullam dicta magnam! Corrupti expedita, molestiae cum numquam!
						.text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores numquam adipisci officia temporibus sint, quae eligendi sequi sapiente, rem cumque at autem, ullam dicta magnam! Corrupti expedita, molestiae cum numquam!
						.text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores numquam adipisci officia temporibus sint, quae eligendi sequi sapiente, rem cumque at autem, ullam dicta magnam! Corrupti expedita, molestiae cum numquam!
						.text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores numquam adipisci officia temporibus sint, quae eligendi sequi sapiente, rem cumque at autem, ullam dicta magnam! Corrupti expedita, molestiae cum numquam!
						.text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores numquam adipisci officia temporibus sint, quae eligendi sequi sapiente, rem cumque at autem, ullam dicta magnam! Corrupti expedita, molestiae cum numquam!

	include includes/_slider.pug

		//- .box
		//- 	a(href="#").btn
		//- 		span Подробнее о клинике
		//- 	a(href="#").btn.secondary
		//- 		span Подробнее о клинике
		//- 	a(href="#").btn.primary
		//- 		span Подробнее о клинике


























	