extends _layout

block title
	title Услуги
block config
	- var main = false
	- var parse = true
block content
	.wrapper.gray.page-head
		.box
			.page-head-content
				.page-head-bg
					.page-head-bg-inner
						img(data-src="img/head/1.jpg", alt="").js-image
				.page-head-container
					.page-head-inner
						h1.title.h1 Услуги
						.bread-cont
							a(href="#").bread-item Главная
							a(href="#").bread-item Услуги
	.wrapper
		.box
			.content-element
				.aside-wrapp
					aside.aside-menu(data-sticky_parent)
						.aside-menu-inner
							// есди элемент стикается - кладем его в этот контейнер,
							.aside-menu-stick.js-stick.js-dropdown-parent
								// модификатор .nav для ссылок на страницы и .scroll для ссылок скролящих
								.aside-title.title.h3.js-dropdown.dropdown Услуги
								ul.aside-nav.scroll.js-dropdown-target
									li.aside-nav-item
										a.aside-nav-link.js-scroll-to(data-href='#1' href="#") Клинико-диагностическая лаборатория
									li.aside-nav-item
										a.aside-nav-link.js-scroll-to(data-href='#2' href="#") УЗ-диагностика
									li.aside-nav-item
										a.aside-nav-link.js-scroll-to(data-href='#3' href="#") Рентгенодиагностика
									li.aside-nav-item
										a.aside-nav-link.js-scroll-to(data-href='#4' href="#") Хирургия
									li.aside-nav-item
										a.aside-nav-link.js-scroll-to(data-href='#5' href="#") Стоматология
									li.aside-nav-item
										a.aside-nav-link.js-scroll-to(data-href='#6' href="#") Дерматокосметология
									li.aside-nav-item
										a.aside-nav-link.js-scroll-to(data-href='#7' href="#") Гинекология
									li.aside-nav-item
										a.aside-nav-link.js-scroll-to(data-href='#8' href="#") Урология
									li.aside-nav-item
										a.aside-nav-link.js-scroll-to(data-href='#9' href="#") Терапия
									li.aside-nav-item
										a.aside-nav-link.js-scroll-to(data-href='#10' href="#") Офтальмология
									li.aside-nav-item
										a.aside-nav-link.js-scroll-to(data-href='#11' href="#") Неврология
									li.aside-nav-item
										a.aside-nav-link.js-scroll-to(data-href='#12' href="#") Оториноларингология
									li.aside-nav-item
										a.aside-nav-link.js-scroll-to(data-href='#13' href="#") Физиотерапия
									li.aside-nav-item
										a.aside-nav-link.js-scroll-to(data-href='#14' href="#") Программы

					.aside-content
						.service-wrapper
							.service-head
								.service-search 
									include includes/_suggest.pug
							.service-letters
								.service-letters-inner
									- var letters = ['а','б','в','г','д','е','Ё','Ж','з','и','й','к','л','м','н','о','п','р','с','т','у','ф','х','ц','ч','ш','щ','ъ','ы','ь','э','ю','я']
									each letter in letters
										.service-letter.js-filter-letter(data-letter=letter)
											.service-letter-inner= letter
							script.
								var elems = {
									'section': [
										{
											'id': 1,
											'name': 'Клинико-диагностическая лаборатория',
											'link': '#',
											'subsection' :[
												{
													'name': null,
													'link': '#',
													'letters': [
														{
															'letter': 'a',
															'items': [
																{
																	'name': 'Аэрозольтерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер (без препарата)',
																	'link': '#',
																},
															]
														},
														{
															'letter': 'д',
															'items': [
																{
																	'name': 'Дуплексное сканирование брахиоцефальных артерий на экстракраниальном уровне',
																	'link': '#',
																},
																{
																	'name': 'Доплерография сосудов почек',
																	'link': '#',
																},
																{
																	'name': 'Доплерография сосудов щитовидной железы',
																	'link': '#',
																},
																{
																	'name': 'Доплерография сосудов органов малого таза',
																	'link': '#',
																},
																{
																	'name': 'Доплерография сосудов внутренних органов',
																	'link': '#',
																},
																{
																	'name': 'Доплерография сосудов матки, пуповины и плода при беременности',
																	'link': '#',
																},
																{
																	'name': 'Дуплексное сканирование артерий верхних конечностей',
																	'link': '#',
																},
																{
																	'name': 'Дуплексное сканирование вен нижних конечностей',
																	'link': '#',
																},
																{
																	'name': 'Дуплексное сканирование артерий нижних конечностей',
																	'link': '#',
																},
																{
																	'name': 'Дуплексное сканирование интракраниальных артерий',
																	'link': '#',
																},
																{
																	'name': 'Доплерография сосудов органов малого таза',
																	'link': '#',
																},
																{
																	'name': 'Доплерография сосудов внутренних органов',
																	'link': '#',
																},
																{
																	'name': 'Доплерография сосудов матки, пуповины и плода при беременности',
																	'link': '#',
																},
															]
														},
														{
															'letter': 'м',
															'items': [
																{
																	'name': 'Магнитно-резонансная ангиография интракраниальных сосудов',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография всего позвоночника (всех отделов)',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография головного мозга',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная ангиография интракраниальных сосудов',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография всего позвоночника (всех отделов)',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография головного мозга',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография грудного отдела позвоночника',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография мышц',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография одного голеностопного сустава',
																	'link': '#',
																},
															]
														},
													]
												}
											]	
										},
										{
											'id': 2,
											'name': 'УЗ-диагностика',
											'link': '#',
											'subsection' :[
												{
													'name': null,
													'link': '#',
													'letters': [
														{
															'letter': 'а',
															'items': [
																{
																	'name': 'Аэрозольтерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия Пульмикортом через небулайзер',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия Вентолином через небулайзер',
																	'link': '#',
																},
																{
																	'name': 'Акустическая терапия почек и верхних мочевых путей',
																	'link': '#',
																},
																{
																	'name': 'Акустическая терапия мочевого пузыря и предстательной железы',
																	'link': '#',
																},
															]
														},
														{
															'letter': 'б',
															'items': [
																{
																	'name': 'Аэрозольт dfgd ерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер dgfdfgdfgdfg (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер dd gfdfgd (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольте препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерап  gdfgdfgdия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
															]
														},
														{
															'letter': 'д',
															'items': [
																{
																	'name': 'Аэрозольт dfgd ерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер dgfdfgdfgdfg (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер dd gfdfgd (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольте препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерап  gdfgdfgdия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
															]
														},
														{
															'letter': 'м',
															'items': [
																{
																	'name': 'Магнитно-резонансная ангиография интракраниальных сосудов',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография всего позвоночника (всех отделов)',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография головного мозга',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная ангиография интракраниальных сосудов',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография всего позвоночника (всех отделов)',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография головного мозга',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография грудного отдела позвоночника',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография мышц',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография одного голеностопного сустава',
																	'link': '#',
																},
															]
														},
													]
												}
											]	
										},
										{
											'id': 2,
											'name': 'Рентгенодиагностика',
											'link': '#',
											'subsection' :[
												{
													'name': null,
													'link': '#',
													'letters': [
														{
															'letter': 'а',
															'items': [
																{
																	'name': 'Аэрозольтерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия Пульмикортом через небулайзер',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия Вентолином через небулайзер',
																	'link': '#',
																},
																{
																	'name': 'Акустическая терапия почек и верхних мочевых путей',
																	'link': '#',
																},
																{
																	'name': 'Акустическая терапия мочевого пузыря и предстательной железы',
																	'link': '#',
																},
															]
														},
														{
															'letter': 'б',
															'items': [
																{
																	'name': 'Аэрозольт dfgd ерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер dgfdfgdfgdfg (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер dd gfdfgd (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольте препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерап  gdfgdfgdия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
															]
														},
														{
															'letter': 'д',
															'items': [
																{
																	'name': 'Аэрозольт dfgd ерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер dgfdfgdfgdfg (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер dd gfdfgd (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольте препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерап  gdfgdfgdия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
															]
														},
														{
															'letter': 'м',
															'items': [
																{
																	'name': 'Магнитно-резонансная ангиография интракраниальных сосудов',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография всего позвоночника (всех отделов)',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография головного мозга',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная ангиография интракраниальных сосудов',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография всего позвоночника (всех отделов)',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография головного мозга',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография грудного отдела позвоночника',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография мышц',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография одного голеностопного сустава',
																	'link': '#',
																},
															]
														},
													]
												}
											]	
										},
										{
											'id': 2,
											'name': 'Хирургия',
											'link': '#',
											'subsection' :[
												{
													'name': 'Травматология',
													'link': '#',
													'letters': [
														{
															'letter': 'а',
															'items': [
																{
																	'name': 'Аэрозольтерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия Пульмикортом через небулайзер',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия Вентолином через небулайзер',
																	'link': '#',
																},
																{
																	'name': 'Акустическая терапия почек и верхних мочевых путей',
																	'link': '#',
																},
																{
																	'name': 'Акустическая терапия мочевого пузыря и предстательной железы',
																	'link': '#',
																},
															]
														},
														{
															'letter': 'б',
															'items': [
																{
																	'name': 'Аэрозольт dfgd ерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер dgfdfgdfgdfg (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер dd gfdfgd (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольте препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерап  gdfgdfgdия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
															]
														},
														{
															'letter': 'д',
															'items': [
																{
																	'name': 'Аэрозольт dfgd ерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер dgfdfgdfgdfg (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер dd gfdfgd (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольте препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерап  gdfgdfgdия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
															]
														},
														{
															'letter': 'м',
															'items': [
																{
																	'name': 'Магнитно-резонансная ангиография интракраниальных сосудов',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография всего позвоночника (всех отделов)',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография головного мозга',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная ангиография интракраниальных сосудов',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография всего позвоночника (всех отделов)',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография головного мозга',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография грудного отдела позвоночника',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография мышц',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография одного голеностопного сустава',
																	'link': '#',
																},
															]
														},
													]
												},
												{
													'name': 'Онкология',
													'link': '#',
													'letters': [
														{
															'letter': 'ж',
															'items': [
																{
																	'name': 'Аэрозольтерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия Пульмикортом через небулайзер',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия Вентолином через небулайзер',
																	'link': '#',
																},
																{
																	'name': 'Акустическая терапия почек и верхних мочевых путей',
																	'link': '#',
																},
																{
																	'name': 'Акустическая терапия мочевого пузыря и предстательной железы',
																	'link': '#',
																},
															]
														},
														{
															'letter': 'б',
															'items': [
																{
																	'name': 'Аэрозольт dfgd ерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер dgfdfgdfgdfg (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер dd gfdfgd (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольте препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерап  gdfgdfgdия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
															]
														},
														{
															'letter': 'д',
															'items': [
																{
																	'name': 'Аэрозольт dfgd ерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер dgfdfgdfgdfg (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер dd gfdfgd (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольте препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерап  gdfgdfgdия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
															]
														},
														{
															'letter': 'м',
															'items': [
																{
																	'name': 'Магнитно-резонансная ангиография интракраниальных сосудов',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография всего позвоночника (всех отделов)',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография головного мозга',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная ангиография интракраниальных сосудов',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография всего позвоночника (всех отделов)',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография головного мозга',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография грудного отдела позвоночника',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография мышц',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография одного голеностопного сустава',
																	'link': '#',
																},
															]
														},
													]
												},
												{
													'name': 'Эндоскопия',
													'link': '#',
													'letters': [
														{
															'letter': 'а',
															'items': [
																{
																	'name': 'Аэрозольтерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия Пульмикортом через небулайзер',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия Вентолином через небулайзер',
																	'link': '#',
																},
																{
																	'name': 'Акустическая терапия почек и верхних мочевых путей',
																	'link': '#',
																},
																{
																	'name': 'Акустическая терапия мочевого пузыря и предстательной железы',
																	'link': '#',
																},
															]
														},
														{
															'letter': 'б',
															'items': [
																{
																	'name': 'Аэрозольт dfgd ерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер dgfdfgdfgdfg (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер dd gfdfgd (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольте препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерап  gdfgdfgdия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
															]
														},
														{
															'letter': 'р',
															'items': [
																{
																	'name': 'Аэрозольт dfgd ерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер dgfdfgdfgdfg (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер dd gfdfgd (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольте препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерап  gdfgdfgdия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозольтерапия через небулайзер (без препарата)',
																	'link': '#',
																},
																{
																	'name': 'Аэрозол ез небулайзер (без препарата)',
																	'link': '#',
																},
															]
														},
														{
															'letter': 'з',
															'items': [
																{
																	'name': 'Магнитно-резонансная ангиография интракраниальных сосудов',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография всего позвоночника (всех отделов)',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография головного мозга',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная ангиография интракраниальных сосудов',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография всего позвоночника (всех отделов)',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография головного мозга',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография грудного отдела позвоночника',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография мышц',
																	'link': '#',
																},
																{
																	'name': 'Магнитно-резонансная томография одного голеностопного сустава',
																	'link': '#',
																},
															]
														},
													]
												},
											]	
										},
									],
									'activeLetters':[
										{
											'letter': 'а'
										},
										{
											'letter': 'б'
										},
										{
											'letter': 'ж'
										},
										{
											'letter': 'д'
										},
										{
											'letter': 'м'
										},
										{
											'letter': 'р'
										},
										{
											'letter': 'з'
										},
									]
								};
							// модификатор fullsize только на этой странице
							.service-items.fullsize


								//- .service-item(data-id='#1')
								//- 	.service-item-title
								//- 		.title.h2 Клинико-диагностическая лаборатория
								//- 	.service-item-container
								//- 		.service-item-item
								//- 			.service-item-letter
								//- 				|A
								//- 			ul.service-item-links
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия через небулайзер (без препарата)
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия Пульмикортом через небулайзер
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия Вентолином через небулайзер
								//- 				li
								//- 					a(href="#").text Акустическая терапия почек и верхних мочевых путей
								//- 				li
								//- 					a(href="#").text Акустическая терапия мочевого пузыря и предстательной железы
								//- 		.service-item-item
								//- 			.service-item-letter
								//- 				|Д
								//- 			ul.service-item-links
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия через небулайзер (без препарата)
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия Пульмикортом через небулайзер
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия Вентолином через небулайзер
								//- 				li
								//- 					a(href="#").text Акустическая терапия почек и верхних мочевых путей
								//- 				li
								//- 					a(href="#").text Акустическая терапия мочевого пузыря и предстательной железы
								//- 		.service-item-item
								//- 			.service-item-letter
								//- 				|М
								//- 			ul.service-item-links
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия через небулайзер (без препарата)
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия Пульмикортом через небулайзер
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия Вентолином через небулайзер
								//- 				li
								//- 					a(href="#").text Акустическая терапия почек и верхних мочевых путей
								//- 				li
								//- 					a(href="#").text Акустическая терапия мочевого пузыря и предстательной железы
								//- 				li
								//- 					a(href="#").text Магнитно-резонансная ангиография интракраниальных сосудов
								//- 				li
								//- 					a(href="#").text Магнитно-резонансная томография всего позвоночника (всех отделов)
								//- 				li
								//- 					a(href="#").text Магнитно-резонансная томография головного мозгаs
								//- .service-item(data-id='#2')
								//- 	.service-item-title
								//- 		.title.h2 УЗ-диагностика
								//- 	.service-item-container
								//- 		.service-item-item
								//- 			.service-item-letter
								//- 				|A
								//- 			ul.service-item-links
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия через небулайзер (без препарата)
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия Пульмикортом через небулайзер
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия Вентолином через небулайзер
								//- 				li
								//- 					a(href="#").text Акустическая терапия почек и верхних мочевых путей
								//- 				li
								//- 					a(href="#").text Акустическая терапия мочевого пузыря и предстательной железы
								//- 		.service-item-item
								//- 			.service-item-letter
								//- 				|Д
								//- 			ul.service-item-links
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия через небулайзер (без препарата)
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия Пульмикортом через небулайзер
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия Вентолином через небулайзер
								//- 				li
								//- 					a(href="#").text Акустическая терапия почек и верхних мочевых путей
								//- 				li
								//- 					a(href="#").text Акустическая терапия мочевого пузыря и предстательной железы
								//- 		.service-item-item
								//- 			.service-item-letter
								//- 				|М
								//- 			ul.service-item-links
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия через небулайзер (без препарата)
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия Пульмикортом через небулайзер
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия Вентолином через небулайзер
								//- 				li
								//- 					a(href="#").text Акустическая терапия почек и верхних мочевых путей
								//- 				li
								//- 					a(href="#").text Акустическая терапия мочевого пузыря и предстательной железы
								//- 				li
								//- 					a(href="#").text Магнитно-резонансная ангиография интракраниальных сосудов
								//- 				li
								//- 					a(href="#").text Магнитно-резонансная томография всего позвоночника (всех отделов)
								//- 				li
								//- 					a(href="#").text Магнитно-резонансная томография головного мозгаs
								//- .service-item(data-id='#3')
								//- 	.service-item-title
								//- 		.title.h2 Рентгенодиагностика
								//- 	.service-item-container
								//- 		.service-item-item
								//- 			.service-item-letter
								//- 				|A
								//- 			ul.service-item-links
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия через небулайзер (без препарата)
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия Пульмикортом через небулайзер
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия Вентолином через небулайзер
								//- 				li
								//- 					a(href="#").text Акустическая терапия почек и верхних мочевых путей
								//- 				li
								//- 					a(href="#").text Акустическая терапия мочевого пузыря и предстательной железы
								//- 		.service-item-item
								//- 			.service-item-letter
								//- 				|Д
								//- 			ul.service-item-links
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия через небулайзер (без препарата)
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия Пульмикортом через небулайзер
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия Вентолином через небулайзер
								//- 				li
								//- 					a(href="#").text Акустическая терапия почек и верхних мочевых путей
								//- 				li
								//- 					a(href="#").text Акустическая терапия мочевого пузыря и предстательной железы
								//- 		.service-item-item
								//- 			.service-item-letter
								//- 				|М
								//- 			ul.service-item-links
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия через небулайзер (без препарата)
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия Пульмикортом через небулайзер
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия Вентолином через небулайзер
								//- 				li
								//- 					a(href="#").text Акустическая терапия почек и верхних мочевых путей
								//- 				li
								//- 					a(href="#").text Акустическая терапия мочевого пузыря и предстательной железы
								//- 				li
								//- 					a(href="#").text Магнитно-резонансная ангиография интракраниальных сосудов
								//- 				li
								//- 					a(href="#").text Магнитно-резонансная томография всего позвоночника (всех отделов)
								//- 				li
								//- 					a(href="#").text Магнитно-резонансная томография головного мозгаs
								//- .service-item(data-id='#4')
								//- 	.service-item-title
								//- 		.title.h2 Хирургия
								//- 	.service-item-container
								//- 		.service-item-subtitle
								//- 			.title.h3 Травматология
								//- 		.service-item-item
								//- 			.service-item-letter
								//- 				|A
								//- 			ul.service-item-links
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия через небулайзер (без препарата)
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия Пульмикортом через небулайзер
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия Вентолином через небулайзер
								//- 				li
								//- 					a(href="#").text Акустическая терапия почек и верхних мочевых путей
								//- 				li
								//- 					a(href="#").text Акустическая терапия мочевого пузыря и предстательной железы
								//- 		.service-item-item
								//- 			.service-item-letter
								//- 				|Д
								//- 			ul.service-item-links
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия через небулайзер (без препарата)
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия Пульмикортом через небулайзер
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия Вентолином через небулайзер
								//- 				li
								//- 					a(href="#").text Акустическая терапия почек и верхних мочевых путей
								//- 				li
								//- 					a(href="#").text Акустическая терапия мочевого пузыря и предстательной железы
								//- 		.service-item-item
								//- 			.service-item-letter
								//- 				|Д
								//- 			ul.service-item-links
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия через небулайзер (без препарата)
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия Пульмикортом через небулайзер
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия Вентолином через небулайзер
								//- 				li
								//- 					a(href="#").text Акустическая терапия почек и верхних мочевых путей
								//- 				li
								//- 					a(href="#").text Акустическая терапия мочевого пузыря и предстательной железы
								//- 	.service-item-container
								//- 		.service-item-subtitle
								//- 			.title.h3 Онкология
								//- 		.service-item-item
								//- 			.service-item-letter
								//- 				|A
								//- 			ul.service-item-links
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия через небулайзер (без препарата)
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия Пульмикортом через небулайзер
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия Вентолином через небулайзер
								//- 				li
								//- 					a(href="#").text Акустическая терапия почек и верхних мочевых путей
								//- 				li
								//- 					a(href="#").text Акустическая терапия мочевого пузыря и предстательной железы
								//- 		.service-item-item
								//- 			.service-item-letter
								//- 				|Д
								//- 			ul.service-item-links
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия через небулайзер (без препарата)
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия Пульмикортом через небулайзер
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия Вентолином через небулайзер
								//- 				li
								//- 					a(href="#").text Акустическая терапия почек и верхних мочевых путей
								//- 				li
								//- 					a(href="#").text Акустическая терапия мочевого пузыря и предстательной железы
								//- 		.service-item-item
								//- 			.service-item-letter
								//- 				|Д
								//- 			ul.service-item-links
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия через небулайзер (без препарата)
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия Пульмикортом через небулайзер
								//- 				li
								//- 					a(href="#").text Аэрозольтерапия Вентолином через небулайзер
								//- 				li
								//- 					a(href="#").text Акустическая терапия почек и верхних мочевых путей
								//- 				li
								//- 					a(href="#").text Акустическая терапия мочевого пузыря и предстательной железы
	include includes/_slider.pug

		//- .box
		//- 	a(href="#").btn
		//- 		span Подробнее о клинике
		//- 	a(href="#").btn.secondary
		//- 		span Подробнее о клинике
		//- 	a(href="#").btn.primary
		//- 		span Подробнее о клинике


























	