extends _layout

block title
	title О клинике
block config
	- var main = false
block content
	.wrapper.gray.page-head
		.box
			.page-head-content
				.page-head-bg
					.page-head-bg-inner
						img(data-src="img/head/3.jpg", alt="").js-image
				.page-head-container
					.page-head-inner
						h1.title.h1 О клинике
						.bread-cont
							a(href="#").bread-item Главная
							a(href="#").bread-item О клинике
	.wrapper
		.box
			.content-element
				.aside-wrapp
					aside.aside-menu(data-sticky_parent)
						.aside-menu-inner
							.aside-menu-stick.js-stick.js-dropdown-parent
								.aside-title.title.h3.js-dropdown.dropdown О клинике
								ul.aside-nav.nav.js-dropdown-target
									li.aside-nav-item.active
										a.aside-nav-link(href="#") Медицинский центр
									li.aside-nav-item
										a.aside-nav-link(href="#") Руководство
									li.aside-nav-item
										a.aside-nav-link(href="#") Партнеры
									li.aside-nav-item
										a.aside-nav-link(href="#") Вакансии
									li.aside-nav-item
										a.aside-nav-link(href="#") Документы и лицензии
									li.aside-nav-item
										a.aside-nav-link(href="#") Органы власти
									li.aside-nav-item
										a.aside-nav-link(href="#") Вопрос-ответ
									li.aside-nav-item
										a.aside-nav-link(href="#") Отзывы
									li.aside-nav-item
										a.aside-nav-link(href="#") Аптека
					.aside-content
						.contact-content
							.content-wrapper(data-id='#content')
								h3 История
								p Медицинскому Центру ОАО "МОСИТАЛМЕД" выпало счастье и высокая ответственность обосноваться на уникальной улице в уникальном здании, которое было построено в 1903 году по проекту молодого, но уже весьма авторитетного в Москве архитектора Анатолия Александровича Остроградского и существовало до 1926 года как доходный дом.
								h4 По проектам Анатолия Остроградского были созданы
								ul 
									li В неорусском стиле древнегреческих теремов Городское учреждение попечителей на ул. Пироговская, 9а (1909г.)
									li Сооружение павильона гигиенической выставки в Санкт-Петербурге (1919г.)
									li Доходные дома: ул. Старый Арбат, 28 (1903г.), ул. Пушечная, 4 (1902г.), Ул. Пречистенка, 39 (1905г.), ул. Мамонтова, 14 (1911г.)
									li Особняки: ул. Садово-Спасская, 2 (1898), Мерзляковский пер., 20 (1902г.)
								p В начале двадцатого столетия у Арбата было определение - "медицинская улица", на которой, по данным городского справочника 1916 г., практиковало около ста врачей. Здесь существовали первая зубоврачебная школа приват-доцента Вильге, платные и бесплатные "больничные палаты", большая библиотека для врачей.
								p Медицинскими традициями обозначен и трехэтажный особняк под номером 28. На первом этаже трехэтажного доходного дома располагался магазин "Медицинская пиявка", а в 1926 году, в период НЭПа, на двух первых этажах была создана первая платная поликлиника. Тогда под одной крышей объединились известные частные практикующие врачи широкого профиля и стоматологическая поликлиника, переехавшие из своей прежней резиденции на "Собачьей площадке" (теперешний Новый Арбат).
								p В 1939 году было создано Московское городское Управление хозрасчетными лечебными учреждениями, в ведении которого находилась сеть хозрасчетных поликлиник. Одной из первых авторитетных, с высококвалифицированным штатом сотрудников и современным, по тем временам, медицинским оборудованием стала поликлиника на Арбате, известная москвичам как знаменитая хозрасчетная поликлиника № 3. Наряду с традиционными медицинскими услугами здесь применяли и новейшие достижения науки - так, впервые начали делать апитерапию - пчелоужаливание. Среди 
									b высокопоставленных 
									| чинов нового общества, желающих получить квалифицированную медицинскую помощь, были и соратники Ленина - Крупская и Фотиева.
								p В 90-х годах итальянская фирма в поисках партнеров сделала выбор в пользу исторического медицинского центра на Арбате по созданию совместного предприятия - "МОСИТАЛМЕД".
								h3 «Моситалмед» сегодня
								.about-about-items
									mixin aboutitem(num,text)
										.about-item
											.about-item-inner
												.about-item-num #{num}
												.about-item-text.text #{text}
									+aboutitem('13','Отделений')
									+aboutitem('19','Лет практики')
									+aboutitem('118','Врачей')
									+aboutitem('1 390','Услуг')
								p.primary Сегодня Медицинский Центр на Арбате - это более 1500 предлагаемых медицинских услуг по всем направлениям медицины: 
									a(href="#") терапии
									|, 
									a(href="#") хирургии
									|, 
									a(href="#") гинекологии
									|, 
									a(href="#") урологии
									|, 
									a(href="#") офтальмологии
									|, 
									a(href="#") неврологии
									|, 
									a(href="#") отоларингологии
									|, 
									a(href="#") дерматокосметологии
									|, 
									a(href="#") стоматологии 
									| и др. Эффективность лечения достигается благодаря применению новейших медицинских технологий, включая современные лабораторные и высокоинформативные методы диагностики.
								// можно втставить просто 1 слайд
								.content-slider
									.content-slider-inner.js-contentslider
										.content-slider-item
											img(data-lazy="img/slideradd/1.jpg", alt="")
										//- .content-slider-item
										//- 	img(data-lazy="img/index/1.jpg", alt="")
										//- .content-slider-item
										//- 	img(data-lazy="img/index/slide.jpg", alt="")
									.arr-wrap
										.arr-wrap-inner
											.slider-counter
												.slider-curr
												.slider-divider /
												.slider-total
								// а можно просто кратинку
								// и анверное тут уже лэзилоадить пикчи не надо
								img(src="img/slideradd/1.jpg", alt="")
								p Наш главный принцип - поставить на службу здоровья профессионализм врача, достижения современной медицинской науки с учетом финансовых возможностей пациента. Благодаря качественной работе ОАО «МОСИТАЛМЕД» более 20 лет занимает достойное место среди лучших частных клиник, неоднократно побеждая в престижных номинациях. ОАО  "МОСИТАЛМЕД"  принимало участие в номинации «Лидер отрасли 2016» и третий год подряд заняло «1» место в рейтинге по общероссийскому классификатору видов экономической деятельности (ОКВЭД) в подгруппе «85.12» - «Врачебная практика», Группа ААА – высший уровень надежности.
								p В Медицинском центре трудятся 120 врачей (из них 1 доктор медицинских наук, 32 кандидата медицинских наук, 2 отличника здравоохранения, 1 работник награжден орденом «Лучший медицинский работник России», 3 работника имеют награду «Профессия – жизнь»).
								.video-wrap
									.video-wrap-cover(style='background-image: url(img/index/1.jpg)')
									iframe(width='100%', height='100%', src='https://www.youtube.com/embed/rU701oPa2cE', frameborder='0', allowfullscreen='')
								blockquote В отделении успешно проводится лечение весьма распространённого в наши дни синдрома хронической усталости. Применение физиотерапевтических методик существенно расширяет диапозон лечебных возможностей и сокращает сроки лечения. Лечиться у нас - эффективное восстановление утраченного здоровья. отделении успешно проводится лечение весьма распространённого.
				



		//- .box
		//- 	a(href="#").btn
		//- 		span Подробнее о клинике
		//- 	a(href="#").btn.secondary
		//- 		span Подробнее о клинике
		//- 	a(href="#").btn.primary
		//- 		span Подробнее о клинике


























	