extends _layout

block title
	title Партнеры
block config
	- var main = false
block content
	.wrapper.gray.page-head
		.box
			.page-head-content
				.page-head-bg
					.page-head-bg-inner
						img(data-src="img/head/3.jpg", alt="").js-image
				.page-head-container
					.page-head-inner
						h1.title.h1 Партнеры
						.bread-cont
							a(href="#").bread-item Главная
							a(href="#").bread-item О клинике
							a(href="#").bread-item Партнеры
	.wrapper
		.box
			.content-element
				.aside-wrapp
					aside.aside-menu(data-sticky_parent)
						.aside-menu-inner
							.aside-menu-stick.js-stick.js-dropdown-parent
								.aside-title.title.h3.js-dropdown.dropdown О клинике
								ul.aside-nav.nav.js-dropdown-target
									li.aside-nav-item
										a.aside-nav-link(href="#") Медицинский центр
									li.aside-nav-item
										a.aside-nav-link(href="#") Руководство
									li.aside-nav-item.active
										a.aside-nav-link(href="#") Партнеры
									li.aside-nav-item
										a.aside-nav-link(href="#") Вакансии
									li.aside-nav-item
										a.aside-nav-link(href="#") Документы и лицензии
									li.aside-nav-item
										a.aside-nav-link(href="#") Органы власти
									li.aside-nav-item
										a.aside-nav-link(href="#") Вопрос-ответ
									li.aside-nav-item
										a.aside-nav-link(href="#") Отзывы
									li.aside-nav-item
										a.aside-nav-link(href="#") Аптека
					.aside-content
						.contact-content
							.content-wrapper(data-id='#content')
								h3 Генеральные партнеры
								mixin partner2(img, name,link)
									.partner-block
										a(href="#").partner-block-inner
											.partner-block-img
												img(data-src="img/partner/"+img+".png", alt="5345").js-image
											.partner-block-content
												.title.h3 #{name}
												.link.partner-block-link
													span #{link}
												.text Медицинский Центр сейчас обладает весьма высоким потенциалом. Но подтверждением правильности  выбранной нами стратегии должен быть конкретный результат.
								.col-wrapper.partner
									.col-50
										+partner2(1,'MEDCИ','www.mybex.ru')
									.col-50
										+partner2(2,'Семейный доктор','www.fdoctor.ru')
									.col-50
										+partner2(3,'MIADENT','www.mia-dent.ru')
									.col-50
										+partner2(2,'Семейный доктор','www.fdoctor.ru')
									.col-50
										+partner2(1,'Nikemed','www.nikemed.ru')
									.col-50
										+partner2(4,'fijie','www.nikemed.ru')
								h3 Страховые компании
								.col-wrapper.partner
									.col-50
										+partner2(4,'Ингосстрах','www.ingos.ru')

		//- .box
		//- 	a(href="#").btn
		//- 		span Подробнее о клинике
		//- 	a(href="#").btn.secondary
		//- 		span Подробнее о клинике
		//- 	a(href="#").btn.primary
		//- 		span Подробнее о клинике


























	