extends _layout

block title
	title Вакансии
block config
	- var main = false
block content
	.wrapper.gray.page-head
		.box
			.page-head-content
				.page-head-bg
					.page-head-bg-inner
						img(data-src="img/head/3.jpg", alt="").js-image
				.page-head-container
					.page-head-inner
						h1.title.h1 Вакансии
						.bread-cont
							a(href="#").bread-item Главная
							a(href="#").bread-item О клинике
							a(href="#").bread-item Вакансии
	.wrapper
		.box
			.content-element
				.aside-wrapp
					aside.aside-menu(data-sticky_parent)
						.aside-menu-inner
							.aside-menu-stick.js-stick.js-dropdown-parent
								.aside-title.title.h3.js-dropdown.dropdown О клинике
								ul.aside-nav.nav.js-dropdown-target
									li.aside-nav-item
										a.aside-nav-link(href="#") Медицинский центр
									li.aside-nav-item
										a.aside-nav-link(href="#") Руководство
									li.aside-nav-item
										a.aside-nav-link(href="#") Партнеры
									li.aside-nav-item.active
										a.aside-nav-link(href="#") Вакансии
									li.aside-nav-item
										a.aside-nav-link(href="#") Документы и лицензии
									li.aside-nav-item
										a.aside-nav-link(href="#") Органы власти
									li.aside-nav-item
										a.aside-nav-link(href="#") Вопрос-ответ
									li.aside-nav-item
										a.aside-nav-link(href="#") Отзывы
									li.aside-nav-item
										a.aside-nav-link(href="#") Аптека
					.aside-content
						.content-column-wrap.content-wrapper
							mixin vacancy(name)
								.vacancy-head.js-accordion-trigger
									.vacancy-head-inner.table-item.dropdown
										.title.h4 #{name}
									.vacancy-body.js-accordion-body
										p Медицинский Центр сейчас обладает весьма высоким потенциалом. Но подтверждением правильности  выбранной нами стратегии должен быть конкретный результат.
										b Требования:
										ul
											li Высшее медицинское образование, диплом, действующий сертификат
											li Опыт работы по специальности от 2 лет
											li Навыки общения с клиентами
											li Умение перенаправлять пациентов к другим специалистам
											li Уверенный пользователь ПК
										b Условия:
										ul
											li Официальное оформление согласно ТК РФ
											li График работы - 6/1 утро/вечер
											li На территории работодателя
											li Заработная плата обсуждается на собеседовании
											li Сменный график работы
							.content-column-content
								.vacancy-wrapper.offerlist-section.caption
									+vacancy('Медицинская сестра общего профиля')
									+vacancy('Медицинская сестра хирургического/эндоскопического профиля')
									+vacancy('Медицинская сестра общего профиля')
									+vacancy('Медицинская сестра общего профиля')


							//div нужен
							.content-column-right
								.caption-content.bg-secondary
									.text По вопросам трудоустройства звоните по телефону:
									.tel-item
										a(href="#").tel-item-tel +7 (495) 212-06-64
									.text E-mail для резюме:
									a(href="#").link kirillina@institut-krasoty.ru				



		//- .box
		//- 	a(href="#").btn
		//- 		span Подробнее о клинике
		//- 	a(href="#").btn.secondary
		//- 		span Подробнее о клинике
		//- 	a(href="#").btn.primary
		//- 		span Подробнее о клинике


























	