extends _layout

block title
	title Документы и лицензии
block config
	- var main = false
block content
	.wrapper.gray.page-head
		.box
			.page-head-content
				.page-head-bg
					.page-head-bg-inner
						img(data-src="img/head/3.jpg", alt="").js-image
				.page-head-container
					.page-head-inner
						h1.title.h1 Документы и лицензии
						.bread-cont
							a(href="#").bread-item Главная
							a(href="#").bread-item О клинике
							a(href="#").bread-item Документы и лицензии
	.wrapper
		.box
			.content-element
				.aside-wrapp
					aside.aside-menu(data-sticky_parent)
						.aside-menu-inner
							.aside-menu-stick.js-stick.js-dropdown-parent
								.aside-title.title.h3.js-dropdown.dropdown О клинике
								ul.aside-nav.nav.js-dropdown-target
									li.aside-nav-item
										a.aside-nav-link(href="#") Медицинский центр
									li.aside-nav-item
										a.aside-nav-link(href="#") Руководство
									li.aside-nav-item
										a.aside-nav-link(href="#") Партнеры
									li.aside-nav-item
										a.aside-nav-link(href="#") Вакансии
									li.aside-nav-item.active
										a.aside-nav-link(href="#") Документы и лицензии
									li.aside-nav-item
										a.aside-nav-link(href="#") Органы власти
									li.aside-nav-item
										a.aside-nav-link(href="#") Вопрос-ответ
									li.aside-nav-item
										a.aside-nav-link(href="#") Отзывы
									li.aside-nav-item
										a.aside-nav-link(href="#") Аптека
					.aside-content
						.contact-content
							.content-wrapper(data-id='#content')
								h3 Свидетельства
								mixin news1(img,text)
									.news-item
										a(href="#").news-item-inner.js-popup-button(data-modal='diplom', data-href='/diplom1.html', data-slideto='0').ajax-trigger
											.news-item-image
												.news-item-image-inner
													img(data-src="img/"+img+".png", alt=""+title+"").js-image
											.news-item-content
												.news-item-content-inner
													.text #{text}
								.col-wrapper.partner
									.col-33
										+news1('big','Свидетельство о внесении записи в Единый государственный реестр юридических лиц')
								h3 Лицензии
								mixin news2(img,text,i)
									.news-item
										a(href="#").news-item-inner.js-popup-button(data-modal='diplom', data-href='/diplom2.html', data-slideto=''+i+'').ajax-trigger
											.news-item-image
												.news-item-image-inner
													img(data-src="img/"+img+".png", alt=""+title+"").js-image
											.news-item-content
												.news-item-content-inner
													.text #{text}
								.col-wrapper.partner
									.col-33
										+news2('big','Свидетельство о внесении записи в Единый государственный реестр юридических лиц',0)
									.col-33
										+news2('big','Лицензия на предоставление медицинских услуг',1)
									.col-33
										+news2('big','Лицензия на предоставление медицинских услуг',2)
									.col-33
										+news2('big','Свидетельство о внесении записи в Единый государственный реестр юридических лиц',3)
		//- .box
		//- 	a(href="#").btn
		//- 		span Подробнее о клинике
		//- 	a(href="#").btn.secondary
		//- 		span Подробнее о клинике
		//- 	a(href="#").btn.primary
		//- 		span Подробнее о клинике


























	