extends _layout

block title
	title Органы власти
block config
	- var main = false
block content
	.wrapper.gray.page-head
		.box
			.page-head-content
				.page-head-bg
					.page-head-bg-inner
						img(data-src="img/head/3.jpg", alt="").js-image
				.page-head-container
					.page-head-inner
						h1.title.h1 Органы власти
						.bread-cont
							a(href="#").bread-item Главная
							a(href="#").bread-item О клинике
							a(href="#").bread-item Органы власти
	.wrapper
		.box
			.content-element
				.aside-wrapp
					aside.aside-menu(data-sticky_parent)
						.aside-menu-inner
							.aside-menu-stick.js-stick.js-dropdown-parent
								.aside-title.title.h3.js-dropdown.dropdown О клинике
								ul.aside-nav.nav.js-dropdown-target
									li.aside-nav-item
										a.aside-nav-link(href="#") Медицинский центр
									li.aside-nav-item
										a.aside-nav-link(href="#") Руководство
									li.aside-nav-item
										a.aside-nav-link(href="#") Партнеры
									li.aside-nav-item
										a.aside-nav-link(href="#") Вакансии
									li.aside-nav-item
										a.aside-nav-link(href="#") Документы и лицензии
									li.aside-nav-item.active
										a.aside-nav-link(href="#") Органы власти
									li.aside-nav-item
										a.aside-nav-link(href="#") Вопрос-ответ
									li.aside-nav-item
										a.aside-nav-link(href="#") Отзывы
									li.aside-nav-item
										a.aside-nav-link(href="#") Аптека
					.aside-content
						.content-wrapper(data-id='#content')
							.organ-wrapper
								mixin organ(img, title)
									.organ-item
										.organ-item-img
											img(data-src="img/organ/"+img+".png", alt="").js-image
										.organ-item-content
											.organ-item-title 
												.title.h3 #{title}
											.desc-wrap
												if block
													block
								+organ(1,'Федеральная служба по надзору в сфере защиты прав потребителей и благополучия человека')
									.desc-item.s50
										.text-sm Адрес:
										.text.primary 127994, г. Москва, Вадковский переулок, дом 18, строение 5 и 7
									.desc-item.s50
										.text-sm Телефон:
										a(href="tel:").text.primary +7 (499) 973-26-90
								+organ(2,'Федеральная служба по надзору в сфере здравоохранения')
									.desc-item.s50
										.text-sm Адрес:
										.text.primary 109074, Москва, Славянская площадь, д.4, стр.1
									.desc-item.s50
										.text-sm Телефон:
										a(href="tel:").text.primary +7 (495) 698-45-38
										a(href="tel:").text.primary +7 (499) 578-02-30
								+organ(3,'Министерство здравоохранения Российской Федерации')
									.desc-item.s50
										.text-sm Адрес:
										.text.primary 127994, ГСП-4, г. Москва, Рахмановский пер, д. 3
									.desc-item.s50
										.text-sm Телефон:
										a(href="tel:").text.primary +7 (495) 628-44-53
										a(href="tel:").text.primary +7 (495) 627-29-44
									.desc-item.s50
										.text-sm Многоканальный:
										a(href="tel:").text.primary +7 (495) 627-29-44
									.desc-item.s50
										.text-sm Для обращения граждан:
										a(href="tel:").text.primary +7 (495) 627-29-44



		//- .box
		//- 	a(href="#").btn
		//- 		span Подробнее о клинике
		//- 	a(href="#").btn.secondary
		//- 		span Подробнее о клинике
		//- 	a(href="#").btn.primary
		//- 		span Подробнее о клинике


























	