extends _layout

block title
	title Новая услуга
block config
	- var main = false
block content
	.wrapper.gray.page-head
		.box
			.page-head-content
				.page-head-bg
					.page-head-bg-inner
						img(data-src="img/head/3.jpg", alt="").js-image
				.page-head-container
					.page-head-inner
						h1.title.h1 Новая услуга
						.bread-cont
							a(href="#").bread-item Главная
							a(href="#").bread-item Новости
							a(href="#").bread-item Новая услуга
	.wrapper
		.box
			.content-element
				.aside-wrapp
					aside.aside-menu(data-sticky_parent)
						.aside-menu-inner
							include includes/_dipslider.pug
					.aside-content
						.contact-content
							.content-wrapper(data-id='#content')
								h3 Прием и консультация врача гинеколога-эндокринолога
								p Медицинскому Центру ОАО "МОСИТАЛМЕД" выпало счастье и высокая ответственность обосноваться на уникальной улице в уникальном здании, которое было построено в 1903 году по проекту молодого, но уже весьма авторитетного в Москве архитектора Анатолия Александровича Остроградского и существовало до 1926 года как доходный дом.
								h4 По проектам Анатолия Остроградского были созданы
								ul 
									li Ведение пациенток с нарушениями менструального цикла различного генеза.
									li Ведение пациенток с эндометриозом , миомой матки, гиперпластическими  процессами эндометрия.
									li Ведение пациенток с повышенным уровнем мужских гормонов и гормона пролактина.
									li Ведение пациенток с нарушениями жирового обмена.
									li Ведение пациенток с проблемами климактерического периода.
									li Ведение пациенток с остеопенией и остеопорозом.
									li Индивидуальный подбор гормональной контрацепции и заместительной гормонотерапии.
									li Консультирование по вопросам бесплодного брака и невынашивания беременности.
									li Подготовка к беременности пациенток с бесплодием эндокринного генеза (синдром поликистозных яичников, синдром гиперпролактинемии, недостаточности лютеиновой фазы менструального цикла, гипофункция яичников и т.д.)
								h3 Описание услуги
								p В отделении успешно проводится лечение весьма распространённого в наши дни синдрома хронической усталости. Применение физиотерапевтических методик существенно расширяет диапозон лечебных возможностей и сокращает сроки лечения. Лечиться у нас - эффективное восстановление утраченного здоровья. отделении успешно проводится лечение весьма распространённого в наши дни синдрома хронической усталости.
								p Применение физиотерапевтических методик существенно расширяет диапозон лечебных возможностей и сокращает сроки лечения. Лечиться у нас - эффективное восстановление утраченного здоровья.
								p В 90-х годах итальянская фирма в поисках партнеров сделала выбор в пользу исторического медицинского центра на Арбате по созданию совместного предприятия - "МОСИТАЛМЕД".
								.content-slider
									.content-slider-inner.js-contentslider
										.content-slider-item
											img(data-lazy="img/slideradd/1.jpg", alt="")
										.content-slider-item
											img(data-lazy="img/index/1.jpg", alt="")
										.content-slider-item
											img(data-lazy="img/index/slide.jpg", alt="")
									.arr-wrap
										.arr-wrap-inner
											.slider-counter
												.slider-curr
												.slider-divider /
												.slider-total
								// а можно просто кратинку
								// и анверное тут уже лэзилоадить пикчи не надо
								//- img(src="img/slideradd/1.jpg", alt="")
								blockquote В отделении успешно проводится лечение весьма распространённого в наши дни синдрома хронической усталости. Применение физиотерапевтических методик существенно расширяет диапозон лечебных возможностей и сокращает сроки лечения. Лечиться у нас - эффективное восстановление утраченного здоровья. отделении успешно проводится лечение весьма распространённого.
	.wrapper
		.box
			.addnews-wrap
				.addnews-inner
					.addnews-item
						a(href="#").addnews-item-inner
							.news-item-image
								.news-item-image-inner
									img(data-src="img/news/1.jpg", alt="asdasd").js-image
							.news-item-content
								.news-item-content-inner
									.text-sm.dropdown Предыдущая новость
									.title.h3 Стресс-тест
									.text Определения критической нагрузки на сердце
					.addnews-item
						a(href="#").addnews-item-inner
							.news-item-image
								.news-item-image-inner
									img(data-src="img/news/1.jpg", alt="asdasd").js-image
							.news-item-content
								.news-item-content-inner
									.text-sm.dropdown Следующая новость
									.title.h3 Стресс-тест
									.text Определения критической нагрузки на сердце























	