.wrap
	.modal-container
		i.small-link.pop-close.closePopup
		.big-image-slider
			.big-image-slider-inner
				.big-image-item
					.big-image-item-inner
						img(src="/img/info.png", alt="")
				.big-image-item
					.big-image-item-inner
						img(src="/img/info.png", alt="")
		.modal-container-content
			.modal-container-slider
				.modal-container-arrows
					.arr-wrap
						.arr-wrap-inner
							.slider-counter
								.slider-curr
								.slider-divider /
								.slider-total
				.modal-container-slider-inner
					.modal-container-slider-item
						.title.h3 Маршрут от ст. м. «Смоленская»
						.text У нас удобное расположение, в шаговой доступности от двух станций метро, рядом две платные стоянки.

					.modal-container-slider-item
						.title.h3 Маршрут от ст. м. «Смоленская»
						.text У нас удобное расположение, в шаговой доступности от двух станций метро, рядом две платные стоянки.
