extends _layout

block title
	title Карта сайта
block config
	- var main = false
block content
	.wrapper.gray.page-head
		.box
			.page-head-content
				.page-head-bg
					.page-head-bg-inner
						img(data-src="img/head/3.jpg", alt="").js-image
				.page-head-container
					.page-head-inner
						h1.title.h1 Карта сайта
						.bread-cont
							a(href="#").bread-item Главная
							a(href="#").bread-item Карта сайта
	.wrapper
		.box
			.content-element
				.sitemap-wrap
					.footer-links
						.footer-links-main
							ul
								li 
									a(href="#").text.blk Главная
								li 
									a(href="#").text.blk Услуги
								li 
									a(href="#").text.blk Врачи
								li 
									a(href="#").text.blk Новости
								li 
									a(href="#").text.blk Акции
								li 
									a(href="#").text.blk Контакты
						.footer-links-add
							a(href="#").text.blk  О клинике
							ul
								li 
									a(href="#").text Медицинский центр
								li 
									a(href="#").text Руководство
								li 
									a(href="#").text Партнёры
								li 
									a(href="#").text Вакансии
								li 
									a(href="#").text Лицензии
								li 
									a(href="#").text Органы власти
								li 
									a(href="#").text Вопрос-ответ
								li 
									a(href="#").text Отзывы
								li 
									a(href="#").text Аптека
						.footer-links-add
							a(href="#").text.blk Отделения
							ul
								li 
									a(href="#").text Оториноларингологии
								li 
									a(href="#").text Офтальмологии
								li 
									a(href="#").text Неврологии
								li 
									a(href="#").text Терапии
								li 
									a(href="#").text Хирургии
								li 
									a(href="#").text Стоматологии
								li 
									a(href="#").text Физиотерапии
							ul
								li 
									a(href="#").text Гинекологии
								li 
									a(href="#").text Урологии
								li 
									a(href="#").text Клинико-диагностическая лаборатория
								li 
									a(href="#").text Рентгенодиагностики
								li 
									a(href="#").text Дерматокосметологии
								li 
									a(href="#").text УЗ-диагностики


























	